.main_container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 1200px) {
        flex-direction: column;
    }

    .card-basic {
        text-align: center;
        color: hsl(232, 13%, 33%);
        margin: 10px;
        width: 100%;
        min-width: 200px;
        max-width: 350px;
        background-color: hsl(237, 63%, 64%) ;
        color: hsl(240, 78%, 98%);
        padding: 60px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

        @media only screen and (max-width: 1200px) {
            padding: 30px;
            box-shadow: none;
            margin: 30px;
        }

        @media only screen and (max-width: 450px) {
            width: auto;
            padding: 0;
        }

        .card_title{
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 30px;
            margin-top: 0px;
        }

        .card_price {
            font-size: 60px;
            margin-bottom: 30px;
        }

        .promo_card--benefits {
            .promo_card--list {
                border-top: 1px solid hsl(236, 72%, 79%);
                display: flex;
                justify-content: center;
                padding: 30px;

                &:last-child {
                    border-bottom: 1px solid hsl(236, 72%, 79%);
                    margin-bottom: 30px;
                }
            }
        }
    }

    .off_set-card {
        color: hsl(232, 13%, 33%);
        background-color: white;

         @media only screen and (max-width: 1200px) {
            padding: 80px 30px;
        }

         .promo_card--list {
            display: flex;
            justify-content: center;
            padding: 20px;

            &:last-child {
                border-bottom: hsl(232, 13%, 33%) 1px solid;
            }
        }
    }

    .highlight_card {
        padding: 80px 30px;
        z-index: 7;
        margin: 0 -30px;
    }
}