body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background: rgb(233,222,251);
    background: linear-gradient(149deg, rgba(233,222,251,1) 0%, rgba(113,80,213,1) 100%); 
    height: 100vh;

    @media only screen and (max-width: 1200px) {
        height: auto;
    }
    }

ul {
    padding: 0;
}

.succes {
    color: green;
}

.error {
    color: red;
}

p {
    margin: 0;
}

.fa-eye {
    margin-top: 20px;
    color: black;
    cursor: pointer;
}